@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;    
    /* min-height: 100vh; */
    font-family: 'Lexend', sans-serif;
    
}

button{
    outline: none;
    border: none;
    background-color: unset;
}

ul{
    list-style-type: none;
}

a{
    color: inherit;
    text-decoration: none;
}

.navbar{
    /* background: transparent; */
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo{
    font-size: 2rem;
    color: #03C988;
}

.navbar-links-container{
    display: flex;
    width: auto;
}

.navbar-links-container>li{
    padding: .5rem;
    margin-right: 2rem;
    /* background-color: red; */
}

.navbar-links-container>li>a{
    color: white;
    font-size: 1.25rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-links-container>li>a::after{
    content: '';
    display: inline-block;
    height: 3px;
    width: 0px;
    background-color: #03C988;
    transition: width .2s;
    position: absolute;
    bottom: 0;
    top: 100%;
    text-align: center;
}

.navbar-links-container>li>a:hover::after{
    width: 30px;
}

.auth-buttons{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.sign-in-btn{
    /* background-color: rgba(3, 201, 136, .15); */
    background-color: white;
    padding: .75rem 1rem;
    border-radius: .5rem;
    color: #03C988;
    font-family: 'Lexend', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    transition: .3s ease-out;
}

.sign-up-btn{
    font-family: 'Lexend', sans-serif;
    border-radius: .5rem;
    padding: 10px 15px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #03C988;
    color: white;
    transition: .3s ease-out;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-btn:hover, .sign-in-btn:hover{
    transform: translateY(2px);
    box-shadow: 0px 23px 31px -11px rgba(0,0,0,0.29);
}

.signup-wrapper, .login-wrapper, .forgot-password-wrapper{
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup, .forgot-password{
    width: 550px;
    height: 550px;
    box-shadow: 0px 1px 49px -11px rgba(0,0,0,0.37);
    border-radius: 1rem;
    padding: 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* gap: 2rem; */
}

.signup-heading{
    background: linear-gradient(to right, rgba(220,255,82,1) 0%, rgba(3,201,136,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.signup-close-btn{
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 50000;
    transform: rotate(45deg);
    border: 3px solid #03C988;
    transition: .3s;
}


.signup-close-btn::before{
    content: '';
    display: inline-block;
    width: 30px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #03C988;
    transform: rotate(45deg) translate(10px, -8px);
    transition: .2s;
    transform: translate(-50%,-50%);
    border-radius: 4px;
    
}
.signup-close-btn::after{
    content: '';
    display: inline-block;
    width: 3px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #03C988;
    transition: .2s;
    transform: translate(-50%,-50%);
    border-radius: 4px;
}

.signup-close-btn:hover{
    transform: rotate(135deg);
}

.signup-heading-enter {
    opacity: 0;
    transform: translateY(-50%);
}

.signup-heading-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.signup-heading-exit {
    opacity: 1;
    transform: translateY(0%);
}

.signup-heading-exit-active {
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}
.username-box-enter {
    opacity: 0;
    transform: translateY(-50%);
}

.username-box-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.username-box-exit {
    opacity: 1;
    transform: translateY(0%);
}

.username-box-exit-active {
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}


.email-box-enter {
    opacity: 0;
    transform: translateX(-50%);
}

.email-box-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.email-box-exit {
    opacity: 1;
    transform: translateX(0%);
}

.email-box-exit-active {
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.password-box-enter {
    opacity: 0;
    transform: translateX(50%);
}

.password-box-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.password-box-exit {
    opacity: 1;
    transform: translateX(0%);
}

.password-box-exit-active {
    opacity: 0;
    transform: translateX(50%);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out ;
}

.signup-button-enter {
    opacity: 0;
    transform: translateY(50%);
}

.signup-button-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.signup-button-exit {
    opacity: 1;
    transform: translateY(0%);
}

.signup-button-exit-active {
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.already-signed-up{
    text-align: center;
    margin-top: 1rem;
}

.already-signed-up>a{
    color: #03C988;
    transition: .3s ease-in-out
}

.already-signed-up>a:hover{
    text-decoration: underline #03C988  ;
    transform: translateY(-2px);
    
}

.login{
    width: 500px;
    height: 450px;
    box-shadow: 0px 1px 49px -11px rgba(0,0,0,0.37);
    border-radius: 1rem;
    padding: 2rem 2.5rem;
    display: flex;
    flex-direction: column;
}

.mantine-InputWrapper-root:not(.mantine-PasswordInput-root){
    margin-bottom: 1.75rem;
}

.mantine-PasswordInput-root{
    margin-bottom: 1rem;
}

.forgot-password-link{
    color: #03C988;
    transition: .3s ease-in-out
}

.forgot-password-link:hover{
    text-decoration: underline #03C988 ;
}

.hero-section{
    padding: 4rem 2rem;
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 1rem;
    background: url(assets/img/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner.jpg);
    background-repeat: no-repeat;
    height: 90vh;
    z-index: -19;
    
}
.hero-main-text{
    width: 50%;
    align-self: flex-start;
}

.hero-main-text .sign-up-btn{
    position: absolute;
    bottom: 0;
    padding: 1rem;
    /* margin-top: 1rem; */
}

.typed-text{
    color: white;
    font-size: 5rem;
    background: linear-gradient(to right, rgba(220,255,82,1) 0%, rgba(3,201,136,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-main-img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 600px;
    object-fit: cover;
    border-radius: 8px;
}

.navbar-hamburger-btn{
    display: none;
    background: none;
    position: relative;
    float: right;
    padding: 18px;
    font-size: 24px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    border: none;
    overflow: visible;
}

.hamburger-menu{
    height: 50vh;

    position: fixed;
    z-index: 2000;
    left: 100%;
    top: 0;
    right: 0;
    background-color: white;
    transition: 250ms ease-in;
    opacity: 0;
    box-shadow: 10px 10px 34px -19px rgba(0,0,0,0.75);

}

.hamburger-menu-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hamburger-menu-container header{
    padding: 1.65rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

.hamburger-close-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 50000;
    transform: rotate(45deg);
    border: 3px solid #03C988;
    transition: .3s;
    cursor: pointer;
}

.hamburger-close-btn::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #03C988;
    transform: rotate(45deg) translate(10px, -8px);
    transition: .2s;
    transform: translate(-50%,-50%);
    border-radius: 4px;
    
}
.hamburger-close-btn::after{
    content: '';
    display: inline-block;
    width: 3px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #03C988;
    transition: .2s;
    transform: translate(-50%,-50%);
    border-radius: 4px;
}

.hamburger-close-btn:hover{
    transform: rotate(135deg);
}

.hamburger-menu-container>.navbar-links-container{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    /* background-color: red; */
}

.hamburger-menu-container>.navbar-links-container>li{
    box-shadow: -2px 9px 25px -9px rgba(0,0,0,0.39);
    background-color: #03C988;
    margin-bottom: 2rem;
    width: 50%;
}

.forgot-password{
    width: 400px;
    height: 270px;
}

.forgot-password-heading{
    background: linear-gradient(to right, rgba(220,255,82,1) 0%, rgba(3,201,136,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.forgot-password>a{
    display: flex;
    align-items: center;
    margin-top: .75rem;
    color: #03C988;
    
}

.forgot-password>a:hover{
    text-decoration: underline ;
}

/* Tablets screen */
@media (600px <= width <= 920px) {
    .hero-section{
        /* display: flex; */
        flex-direction: column;
        height: 50vh;
        position: relative;
    }

    .navbar-links-container{
        display: none;
    }

    .hero-main-text{
        width: 100%;
        margin-inline: auto;
    }

    .typed-text{
        font-size: 4rem;
        text-align: center;
    }

    .hero-main-img{
        width: 600px;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
    }

    .sign-in-btn{
        padding: .65rem 1rem;
        height: fit-content;
        display: flex;
        align-items: center;
    }
    
    .sign-up-btn{
        padding: .65rem 1rem;
        height: fit-content;
    }
    

    .navbar-hamburger-btn{
        display: flex;
        width: auto;
        height: 52px;
        padding: 15px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2000;
    }

    .navbar-hamburger-wrapper{
        position: relative;
        display: flex;
        width: 20px;
        height: 20px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    .navbar-hamburger-line{
        overflow: hidden;
        width: 26px;
        height: 3px;
        border-radius: 100px;
        background-color: #03C988;
    }

    .navbar-hamburger-line.half-line{
        width: 20px;
    }
    
    .hamburger-menu.show{
        left: 50%;
        opacity: 1;
    }
    
}

/* S20 Ultra */
@media screen and (max-width: 600px) {
    /* .navbar{
        padding-inline: 2rem;
    }
   .sign-up-btn{
        display: none;
    }
    
    .typed-text{
        font-size: 2.2rem;
    }

    .hero-img{
        width: 100px;
    } */
}
