*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    /* min-height: 100vh; */
    
}

.main-content{
    width: 100%;
    height: 100vh;
    background-image: url(assets/img/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a{
    color: inherit;
    text-decoration: none;
}
