@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* width: 100%;     */
  /* min-height: 100vh;/ */
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

html {
  scrollbar-width: auto;
}
button {
  outline: none;
  border: none;
  background-color: unset;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  /* background: transparent; */
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 1.5rem;
  color: #ecf2ff;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-links-container {
  display: flex;
  width: auto;
}

.navbar-links-container > li {
  padding: 0.5rem;
  margin-right: 2rem;
  /* background-color: red; */
}

.active-link {
  color: #03c988;
}

.navbar-links-container > li > a {
  color: white;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-links-container > li > a::after {
  content: "";
  display: inline-block;
  height: 3px;
  width: 0px;
  background-color: #3e54ac;
  transition: width 0.2s;
  position: absolute;
  bottom: 0;
  top: 100%;
  text-align: center;
}

.navbar-links-container > li > a:hover::after {
  width: 30px;
}

.auth-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.sign-in-btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-family: "Lexend", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s ease-out;
  background-color: #655dbb;
  border: 1px solid white;
  color: white;
}

.sign-up-btn {
  font-family: "Lexend", sans-serif;
  border-radius: 0.5rem;
  padding: 7px 15px;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: white;
  color: #3e54ac;
  transition: 0.3s ease-out;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-btn.scrolled{
  background: linear-gradient(123.92deg, rgba(255, 255, 255, 0.6) -2.72%, #655DBB 37.48%);
  color: white;
}

.sign-up-btn:hover,
.sign-in-btn:hover {
  transform: translateY(2px);
  box-shadow: 0px 23px 31px -11px rgba(0, 0, 0, 0.29);
}

.signup-wrapper,
.login-wrapper,
.forgot-password-wrapper {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
  background-color: rgb(26, 26, 26);
}

.signup,
.forgot-password {
  width: 550px;
  height: 640px;
  box-shadow: 0px 1px 49px -11px rgba(0, 0, 0, 0.37);
  border-radius: 1rem;
  padding: 1rem 2.5rem;
  background-color: rgb(10, 10, 10);
}

.signup-heading {
  background: linear-gradient(
    90deg,
    rgba(60, 121, 245, 1) 0%,
    rgba(108, 0, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.signup-close-btn {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  z-index: 50000;
  transform: rotate(45deg);
  border: 3px solid #6c00ff;
  transition: 0.3s;
}

.signup-close-btn::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #6c00ff;
  transform: rotate(45deg) translate(10px, -8px);
  transition: 0.2s;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}
.signup-close-btn::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #6c00ff;
  transition: 0.2s;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}

.signup-close-btn:hover {
  transform: rotate(135deg);
}

.signup-heading-enter {
  opacity: 0;
  transform: translateY(-50%);
}

.signup-heading-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.signup-heading-exit {
  opacity: 1;
  transform: translateY(0%);
}

.signup-heading-exit-active {
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}
.username-box-enter {
  opacity: 0;
  transform: translateY(-50%);
}

.username-box-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.username-box-exit {
  opacity: 1;
  transform: translateY(0%);
}

.username-box-exit-active {
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.email-box-enter {
  opacity: 0;
  transform: translateX(-50%);
}

.email-box-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.email-box-exit {
  opacity: 1;
  transform: translateX(0%);
}

.email-box-exit-active {
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.password-box-enter {
  opacity: 0;
  transform: translateX(50%);
}

.password-box-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.password-box-exit {
  opacity: 1;
  transform: translateX(0%);
}

.password-box-exit-active {
  opacity: 0;
  transform: translateX(50%);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.signup-button-enter {
  opacity: 0;
  transform: translateY(50%);
}

.signup-button-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.signup-button-exit {
  opacity: 1;
  transform: translateY(0%);
}

.signup-button-exit-active {
  opacity: 0;
  transform: translateY(50%);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.signup__form-ending {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.already-signed-up {
  text-align: center;
  margin-top: 1rem;
  color: #c0c0c0;
}

.already-signed-up > a {
  color: #655dbb;
  transition: 0.3s ease-in-out;
}

.already-signed-up > a:hover {
  text-decoration: underline #655dbb;
  transform: translateY(-2px);
}

.login {
  width: 500px;
  height: 450px;
  box-shadow: 0px 1px 49px -11px rgba(0, 0, 0, 0.37);
  border-radius: 1rem;
  padding: 2rem 2.5rem;
  background-color: rgb(10, 10, 10);
}

.mantine-InputWrapper-root:not(.mantine-PasswordInput-root) {
  margin-bottom: 1.75rem;
}

/* .mantine-Input-input:focus,
.mantine-PasswordInput-input:focus.mantine-PasswordInput-wrapper {
  border: 2px solid #03c988 !important;
} */

.mantine-PasswordInput-root {
  margin-bottom: 1rem;
}

.mantine-TextInput-label {
  color: #c0c0c0;
}

.mantine-PasswordInput-label {
  color: #c0c0c0;
}

.mantine-Button-root {
  background-color: #6c00ff;
}

.login__form-ending,
.sigup__form-ending {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.forgot-password-link {
  color: #655dbb;
  transition: 0.3s ease-in-out;
}

.forgot-password-link:hover {
  text-decoration: underline #655dbb;
}

.hero-section {
  background-color: #655dbb;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 0rem 2.25rem;
  gap: 1rem;
  height: 90svh;
}

.hero-main-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero-main-heading {
  font-size: clamp(2rem, 5vw, 3.5rem);
  color: white;
  line-height: clamp(3rem, 5vw, 4rem);
}

.hero-main-heading > span {
  color: #bface2;
}

.hero-sub-heading {
  color: white;
  font-weight: 300;
  font-size: min(5vw, 1.25rem);
  margin-top: 0.5rem;
}

.hero__signup-container {
  margin-top: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: max-content;
  background-color: white;
  border-radius: 1rem;
  border: 1px solid white;
  min-width: 320px;
  max-width: 350px;
}

.hero__email {
  border-radius: 0.5rem;
  border: none;
  height: 2.25rem;
  padding-inline: 0.5rem;
  border-radius: 1rem;
  font-family: 'Poppins';
  width: 70%;
}

.hero__email:focus{
  outline: none;
}

.hero__email::placeholder {
  font-weight: 500;
  color: #c0c0c0;
}

.hero__signup-container > button {
  background-color: #bface2;
  color: #655dbb;
  font-weight: 600;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  border-radius: 1rem;
  /* padding: 0.55em .75em; */
  padding-inline: .5em;
  height: 100%;
  text-align: center;
  outline: none;
  white-space: nowrap;
  /* width: 30%; */
}

.hero-main-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img {
  width: 90%;
  max-width: 590px;
  height: auto;
  margin-inline: auto;
}

.navbar-hamburger-btn {
  display: none;
  background: none;
  position: relative;
  float: right;
  padding: 18px;
  font-size: 24px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  border: none;
  overflow: visible;
}

.hamburger-menu {
  height: 50dvh;
  position: fixed;
  z-index: 2000;
  left: 100%;
  top: 0;
  right: 0;
  background-color: white;
  transition: 250ms ease-in;
  opacity: 0;
  box-shadow: 10px 10px 34px -19px rgba(0, 0, 0, 0.75);
}

.hamburger-menu-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hamburger-menu-container header {
  padding: 1.65rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.hamburger-close-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 50000;
  transform: rotate(45deg);
  border: 3px solid #03c988;
  transition: 0.3s;
  cursor: pointer;
}

.hamburger-close-btn::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #03c988;
  transform: rotate(45deg) translate(10px, -8px);
  transition: 0.2s;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}
.hamburger-close-btn::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #03c988;
  transition: 0.2s;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}

.hamburger-close-btn:hover {
  transform: rotate(135deg);
}

.hamburger-menu-container > .navbar-links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

.hamburger-menu-container > .navbar-links-container > li {
  box-shadow: -2px 9px 25px -9px rgba(0, 0, 0, 0.39);
  background-color: #03c988;
  margin-bottom: 2rem;
  width: 50%;
}

.forgot-password {
  width: 400px;
  height: 270px;
}

.forgot-password-heading {
  background: linear-gradient(
    to right,
    rgba(220, 255, 82, 1) 0%,
    rgba(3, 201, 136, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.forgot-password > a {
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
  color: #03c988;
}

.forgot-password > a:hover {
  text-decoration: underline;
}

.dashboard {
  background-color: #f5f8ff;
  display: flex;
  height: 100dvh;
  overflow-x: hidden;
}

.dashboardSidebar {
  position: sticky;
  top: 0;
  bottom: 0;
  background-color: red;
  background: #ffffff;
  border-right: 1px solid #eeeeee;
  border-radius: 0px 25px 25px 0px;
  width: 20%;
  height: 100%;
}

.dashboardSidebar__header {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  justify-content: center;
  gap: 16px;
}

.dashboardSidebar__links-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.dashboardSidebar__main-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dashboardSidebar__main-container > li {
  /* padding-block: 1rem; */
}

.dashboardSidebar__main-container > li > a.active {
  background: linear-gradient(
    90deg,
    rgba(240, 244, 251, 0) -4.39%,
    #f6f9ff -4.38%,
    #ecf2ff 89.94%
  );
  border-right: 4px solid #3e54ac;
}

.dashboardSidebar__main-container > li > a {
  display: flex;
  align-items: center;
  /* width: 50%; */
  margin-inline: auto;
  height: 100%;
  /* background-color: red; */
  padding-left: 28%;
  padding-block: 1rem;
}

.dashboardSidebar__main-container > li > a > img,
.dashboardSidebar__main-container > a > svg {
  margin-right: 1rem;
}

.dashboardSidebar__nav-name {
  display: inline-block;
  vertical-align: middle;
  
}

.dashboardMain {
  width: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}

.dashboardMain input, .dashboardMain textarea{
  font-family: 'Poppins', sans-serif;
}

.dashboardHeader {
  padding-block: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: #f5f8ff;
}

.dashboardHeader__container {
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  /* margin-top: .5rem; */
  width: 95%;
  margin-inline: auto;
  height: 50px;
}

.dashboardHeader-welcomeText {
  font-size: 0.5rem;
}

.dashboardHeader__searchbar {
  background: #f5f8ff;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 0.25rem 1rem;
  gap: 1rem;
  width: 30%;
}

.dashboardHeader__searchbar > input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
}

.dashboardHeader__userInfo {
  display: flex;
  
}

.dashboardHeader_notification {
  border-radius: 12px;
  background: #eff4ff;
  padding: 0.45rem 0.5rem;
  position: relative;
  
}

.notification-badge {
  display: none;
}

.notification-badge.active {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  text-align: center;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: 0.75rem;
  position: absolute;
  top: 10%;
  right: 10%;
}

.dashboardHeader__userInfo > .userInfo__details {
  display: flex;
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0.005em;
}

.dashboardHeader__userInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.dashboardHeader__userInfo > .userInfo__details h5 {
  font-size: 0.6rem;
  color: #888;
}

.dashboardTasks {
 padding-inline: 1.25rem;
}

.dashboardTasks__heading {
  font-size: 1.5rem;
}

.dashboardTasks__headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: sticky;
  top: 66px; */
  background-color: #f5f8ff;
  padding-block: 1rem;
}

.dashboardTasks__displayView {
  display: flex;
  gap: 1rem;
}

.dashboardTasks__displayView > button {
  background-color: #fff;
  /* border: 1px solid #655DBB; */
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

.dashboardTasks__displayView > button.active {
  border: 1px solid #3c79f5;
  background-color: #eff4ff;
}

.dashboardTasks__newTask {
  background-color: #3c79f5;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: 600;
}

.dashboardTasks__displayView img {
  fill: #888;
}

/* .dashboardTasks__grid {
  margin-top: 0.75rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  min-height: 100vh;
} */

.dashboardTasks__gridContainer > header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dashboardTasks__gridHeading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
}

.dashboardTasks__gridHeading > span {
  display: inline-block;
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.dashboardTasks__gridHeading > .inProgress {
  background-color: #ebb02d;
}

.dashboardTasks__gridHeading > .completed {
  background-color: #02790d;
}

.dashboardTasks__grid-itemsLength {
  color: #888;
}

.dashboardTasks__grid-items {
  background-color: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.dashboardTasks__grid-items > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.dashboardTasks__grid-itemsCategory {
  display: inline-block;
  padding: 0.35rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  font-weight: 500;
}

.dashboardTasks__grid-itemsCategory.todo {
  background-color: #fa9884;
  color: #e74646;
}

.dashboardTasks__grid-itemsCategory.inProgress {
  background-color: #f7db6a;
  color: #ebb02d;
}

.dashboardTasks__grid-itemsCategory.completed {
  background-color: #03c988;
  color: #02790d;
}

.dashboardTasks__grid-itemsContent > h3 {
  font-size: 0.9rem;
}

.dashboardTasks__grid-itemsContent > p {
  font-size: 0.75rem;
  color: #888;
}

.dashboardCreateTask {
  width: 0px;
  background-color: white;
  z-index: 200;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 2rem 1.5rem;
  transition: width 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dashboardCreateTask.active {
  opacity: 1;
  width: clamp(350px, 35%, 500px);
  max-width: 500px;
  right: 0;
}

.dashboardCreateTask__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.dashboardCreateTask__headingContainer {
  display: flex;
  flex-direction: column;
}

.dashboardCreateTask__headingContainer > h1 {
  color: #3e54ac;
}

.dashboardCreateTask__headingContainer > p {
  color: #888;
  font-size: 0.75rem;
}

.close-btn {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  z-index: 50000;
  transform: rotate(45deg);
  /* border: 3px solid #888; */
  transition: 0.3s;
  
}

.close-btn::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #888;
  transform: rotate(45deg) translate(10px, -8px);
  transition: 0.2s;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}
.close-btn::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #888;
  transition: 0.2s;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}

.close-btn:hover {
  transform: rotate(135deg);
}

.dashboardCreateTask__form {
    display: flex;
    flex-direction: column;
}

.dashboardCreateTask__form > div:not(.non-input-container) {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.dashboardCreateTask__form label {
  color: #888;
  font-weight: 500;
  font-size: .875rem;
}

.dashboardCreateTask__form input,
/* .dueDateInput, */
.taskStatus:not(.mantine-23qt2rl){
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  border: 1px solid #CED4DA;
  padding: .25rem .5rem; 
}

.mantine-y7odgk:focus-within{
  outline: none;
  border-color: unset;
}

.dashboardCreateTask__form input:focus,
.dashboardCreateTask__form textarea:focus,
.mantine-y7odgk:focus ,
.taskStatus:focus{
  outline: 1px solid #3c79f5;
  border: none;
}


.dashboardCreateTask__form textarea {
  border: 1px solid #CED4DA;
  padding: 1rem;
  border-radius: 0.5rem;
}

.dashboardCreateTask__form .task-name.error,
.dashboardCreateTask__form .category.error,
.dashboardCreateTask__form .taskStatus.error,
.dashboardCreateTask__form .dueDate.error .mantine-DateInput-input
{
  border: 1px solid #e7195a;
}

.non-input-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .5rem;
}

.non-input-container>div{
  display: flex;
  flex-direction: column;
}

.mantine-1fzet7j{
  font-family: 'Poppins', sans-serif;

}

.taskStatus{
  height: 2rem;
  border-radius: .5rem;
}

.dashboardCreateTask__form .mantine-Button-root {
  background-color: #3c79f5;
  /* margin-top: 16px; */
  width: fit-content;
  align-self: center;
  /* padding: .75rem 1rem; */
  border-radius: .5rem;
  font-size: 1rem;
  color: white;
}

.errorModal{
  background-color: #E6D0D0;
  position: absolute;
  bottom: 10%;
  left: 20px;
  width: clamp(200px, 30%, 330px);
  background-color: red;

  pointer-events: none;
  display: flex;
  gap: .5rem;
  padding: .5rem;
  border-radius: .5rem;
  transition: left .3s ease-in;
  z-index: 10;
  /* display: none; */
}

.errorModal.active{
  left: 3%;
  z-index: 7000;
}

.errorModal__header{
  display: flex;
}

.errorModal__body{
  display: flex;
  
}

.errorModal__message{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.errorModal__messageHeading{
  font-size: 14px;
}

.errorModal__messageBody{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 12px;
}

.errorModal__body .close-btn{
  position: absolute;
  top: 10px;
  right: 10px;
} 

.clients{
  /* margin-block: 1vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-block: 2.5rem;
  background-color: #F5F5F5;
}

.clients__logoContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1010px;
  margin-inline: auto;
  justify-content: space-around;
  /* background-color: #02790d; */
}

.clients__logoContainer svg{
  margin: 15px;
}

.clients__heading{
  color: #888;
}

.features{
  padding-block: 5rem;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-block: 2rem; */
  /* background-color: #ECF2FF; */
}

.features__heading{
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  letter-spacing: -0.5px;
  line-height: 57px;
  margin-bottom: 2rem;
}

.features__container{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 1rem;
  padding-inline: 2.5rem;
}

.feature__iconContainer{
  display: inline-block;
  margin-bottom: 1rem;
  background-color: #bface2;
  padding: .5rem;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.feature__text> h2{
  font-size: 1.5rem;
}

.feature__text>p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #6B6B7F;
}

.errorMessage{
  color: #e7195a;
  padding: 10px;
  background: #ffefef;
  border: 1px solid #e7195a;
  border-radius: 4px;
  margin: 20px 0;
}

.time-left{
  font-size: .75rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  background-color: #F1F3F5;
  border-radius: 12px;
  padding: .5rem;
  font-weight: 500;
}

@container (width <= 530px) {
  .hero-img {
    width: 80%;
    max-width: 300px;
  }
}

@media (width <= 1000px) {
  .dashboardSidebar {
    display: none;
  }

  .dashboardMain {
    width: 100%;
  }
}

/* Tablets screen */
@media (width <= 850px) {
  .navbar-links-container {
    display: none;
  }

  .navbar-hamburger-btn {
    display: flex;
    width: auto;
    height: 52px;
    padding: 15px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2000;
  }

  .navbar-hamburger-wrapper {
    position: relative;
    display: flex;
    width: 20px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .navbar-hamburger-line {
    overflow: hidden;
    width: 26px;
    height: 3px;
    border-radius: 100px;
    background-color: #3e54ac;
  }

  .navbar-hamburger-line.half-line {
    width: 20px;
  }

  .hamburger-menu.show {
    left: 50%;
    opacity: 1;
  }

  .hero-section {
    grid-template-columns: 1fr;
    padding-block: 1rem;
    gap: 3rem;
  }

  .hero-main-text {
    align-items: center;
    text-align: center;
  }
}

@media (width <= 850px ) and (height <= 600px){
  .clients{
    margin-top: clamp(15rem, 30vh, 30rem);
  }
}

/* S20 Ultra */
@media (width <= 690px) {
  .navbar {
    padding-inline: 2rem;
  }
  .sign-up-btn,
  .sign-in-btn {
    display: none;
  }

  .hero-section {
    padding: 1rem;
    /* gap: 1rem; */
  }

  /* .hero-img{
        width: 80%;
    } */

  .hero__signup-container {
    /* flex-direction: column; */
  }
}

@media (width <= 370px) {
  .hero-main-heading {
    font-size: 2rem;
  }

  .hero__signup-container > input {
    width: 10rem;
    height: 2rem;
  }
}
